<h1 class="mt-2 p-2">Nuevo acceso</h1>
<form [formGroup]="accessForm" (ngSubmit)="onSubmit()" class="row g-3 m-2">
  <h6>Ingresante</h6>
  <!-- Número de Documento -->
  <div class="col-md-6 mt-3">
    <div class="d-flex align-items-center flex-row">
      <label for="docNumber" class="form-label m-0">
        Número de Documento<label class="text-danger">*</label>
      </label>
      <input
        type="number"
        id="docNumber"
        class="form-control"
        formControlName="docNumber"
        [ngClass]="{
          'is-invalid':
            (accessForm.get('docNumber')?.invalid &&
              accessForm.get('docNumber')?.touched) ||
            accessForm.get('docNumber')?.hasError('unauthorized')
        }"
        (input)="onDocNumberChange($event)"
      />
    </div>
    <div class="ms-5 ps-2">
      <small
        class="text-danger ms-5 ps-4"
        *ngIf="
          accessForm.get('docNumber')?.invalid &&
          accessForm.get('docNumber')?.touched &&
          !accessForm.get('docNumber')?.hasError('unauthorized')
        "
      >
        Por favor, ingrese el número de documento del visitante
      </small>
      <small
        class="text-danger ms-5 ps-4"
        *ngIf="accessForm.get('docNumber')?.hasError('unauthorized')"
      >
        Por favor, ingrese un número de documento registrado
      </small>
    </div>
  </div>

  <div class="col-md-6 mt-3">
    <div class="d-flex align-items-center flex-row">
      <button
        type="button"
        class="btn btn-info"
        (click)="isAuthorized()"
        [disabled]="checkButtonDisabled"
      >
        Consultar
      </button>

      <button
        (click)="openScanner()"
        class="btn btn-info mx-2 d-flex justify-content-center align-items-center"
      >
        <i class="bi bi-qr-code-scan"></i>
      </button>
    </div>
  </div>

  <!-- Nombre -->
  <div class="col-md-6 mt-3">
    <div class="d-flex align-items-center flex-row">
      <label for="firstName" class="form-label m-0">Nombre</label>
      <input
        type="text"
        id="firstName"
        class="form-control ms-3"
        formControlName="firstName"
      />
    </div>
    <div>
      <small
        class="text-danger ms-2"
        *ngIf="
          accessForm.get('firstName')?.invalid &&
          accessForm.get('firstName')?.touched
        "
      >
        requerido
      </small>
    </div>
  </div>

  <!-- Apellido -->
  <div class="col-md-6 mt-3">
    <div class="d-flex align-items-center flex-row">
      <label for="lastName" class="form-label m-0">Apellido</label>
      <input
        type="text"
        id="lastName"
        class="form-control ms-3"
        formControlName="lastName"
      />
    </div>
    <div>
      <small
        class="text-danger ms-2"
        *ngIf="
          accessForm.get('lastName')?.invalid &&
          accessForm.get('lastName')?.touched
        "
      >
        requerido
      </small>
    </div>
  </div>

  <hr />
  <h6>Detalles</h6>

  <!-- Destino -->
  <div class="col-md-6 mt-3">
    <div class="d-flex align-items-center flex-row">
      <label for="firstName" class="form-label m-0"
        >Nro de Lote de Destino</label
      >
      <input
        type="text"
        id="plotId"
        class="form-control ms-3"
        formControlName="plotId"
      />
    </div>
  </div>

  <!-- Acción (Entrada/Salida) -->

  <div class="col-md-6 mt-3">
    <div class="d-flex align-items-center flex-row">
      <label class="form-label m-0">Acción</label
      ><label class="text-danger">*</label>
      <div class="ms-4">
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            id="entry"
            formControlName="action"
            value="ENTRY"
          />
          <label class="form-check-label" for="entry">Entrada</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            id="exit"
            formControlName="action"
            value="EXIT"
          />
          <label class="form-check-label" for="exit">Salida</label>
        </div>
      </div>
    </div>
  </div>

  <!-- Tipo de Vehículo -->
  <div class="col-md-6 mt-3">
    <div class="d-flex align-items-center flex-row">
      <label for="vehicleType" class="form-label m-0"
        >Tipo de Vehículo<label class="text-danger">*</label></label
      >
      <select
        id="vehicleType"
        class="form-select"
        formControlName="vehicleType"
      >
        <option value="CAR">Automóvil</option>
        <option value="PICKUP">Camioneta</option>
        <option value="MOTORBIKE">Motocicleta</option>
        <option value="TRUCK">Camión</option>
        <!--   <option value="FOOT">A pie / Bicicleta</option>-->
      </select>
    </div>
  </div>

  <!-- Matrícula del Vehículo -->
  <div class="col-md-6 mt-3">
    <div class="d-flex align-items-center flex-row">
      <label for="vehicleReg" class="form-label m-0">Patente</label>
      <input
        type="text"
        id="vehicleReg"
        class="form-control ms-3"
        formControlName="vehicleReg"
        [ngClass]="{
          'is-invalid':
            accessForm.get('vehicleReg')?.invalid &&
            accessForm.get('vehicleReg')?.touched
        }"
      />
    </div>
    <div class="ms-5">
      <small
        class="text-danger ms-4 ps-1"
        *ngIf="
          accessForm.get('vehicleReg')?.invalid &&
          accessForm.get('vehicleReg')?.touched
        "
      >
        Por favor, ingrese la matrícula del vehículo
      </small>
    </div>
  </div>

  <!-- Descripción Detallada del Vehículo -->
  <div class="col-md-12 mt-3">
    <div class="d-flex align-items-center flex-row">
      <label for="vehicleDescription" class="form-label m-0"
        >Descripción del Vehículo</label
      >
      <textarea
        id="vehicleDescription"
        class="form-control"
        formControlName="vehicleDescription"
      ></textarea>
    </div>
  </div>

  <!-- Comentarios -->
  <div class="col-md-12 mt-3">
    <div class="d-flex align-items-center flex-row">
      <label for="comments" class="form-label m-0">Comentarios</label>
      <textarea
        id="comments"
        class="form-control ms-3"
        formControlName="comments"
      ></textarea>
    </div>
  </div>

  <div class="col-12 d-flex justify-content-end mt-5">
    <button type="button" class="btn btn-danger me-2" (click)="onCancel()">
      Cancelar
    </button>
    <button type="submit" class="btn btn-primary">Guardar</button>
  </div>
</form>

<ng-template #scannerModal let modal>
  <div
    style="
      width: 100%;
      height: 100%;
      padding: 20px;
      background-color: lightgrey;
    "
  >
    <ngx-scanner-qrcode
      #action="scanner"
      [config]="config"
      (event)="onEvent($event, action)"
    ></ngx-scanner-qrcode>
    <button
      class="btn"
      [class.btn-info]="!action.isStart"
      [class.btn-warning]="action.isStart"
      [disabled]="action.isLoading"
      (click)="handle(action, action.isStart ? 'stop' : 'start')"
    >
      <img
        [src]="
          action.isStart
            ? 'https://id1945.github.io/images/svg/camera-off.svg'
            : 'https://id1945.github.io/images/svg/camera-on.svg'
        "
        width="30px"
      />
    </button>
  </div>
</ng-template>
