<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-center mb-0">Panel de Reportes de Accesos</h2>
            </div>
        </div>
    </div>
</div>

<!-- Fila del gráfico por hora -->
<div class="row mt-4">
    <div class="col-12">
        <div class="card h-100">
            <div class="card-body">
                <h3 class="card-title h5 text-muted mb-3">Distribución de Accesos por Hora</h3>
                <app-access-hourly-dashboard></app-access-hourly-dashboard>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="card h-100">
        <div class="card-body">
            <h3 class="card-title h5 text-muted mb-3">Accesos por Día de la Semana</h3>
            <app-access-weekly-dashboard></app-access-weekly-dashboard>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="card h-100">
        <div class="card-body">
            <h3 class="card-title h5 text-muted mb-3">Distribución Semanal de Accesos</h3>
            <app-access-pie-dashboard></app-access-pie-dashboard>
        </div>
    </div>
</div>