<app-main-container title="Reportes" (infoButtonClick)="onInfoButtonClick()">
  <div class="row">
    <div class="d-flex align-items-center gap-3 mb-3">
      <div class="d-flex align-items-center gap-2">
        <span class="text-secondary">Desde:</span>
        <input type="datetime-local" [(ngModel)]="dateFrom" class="form-control form-control-sm">
      </div>
      <div class="d-flex align-items-center gap-2">
        <span class="text-secondary">Hasta:</span>
        <input type="datetime-local" [(ngModel)]="dateTo" class="form-control form-control-sm">
      </div>
      <div class="d-flex gap-1">
        <button class="btn btn-outline-danger btn-sm" (click)="resetFilters()">
          <i class="bi bi-trash-fill"></i>
        </button>
        <button class="btn btn-outline-primary btn-sm" (click)="filterData()">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="row mt-4 d-flex justify-content-around">
    <div class="card col-3 d-flex align-items-center text-success">
      <h1>{{ entryCount }}</h1>
      <h5>Entradas <i class="bi bi-arrow-up"></i></h5>
    </div>
    <div class="card col-3 d-flex align-items-center text-danger">
      <h1>{{ exitCount }}</h1>
      <h5>Salidas <i class="bi bi-arrow-down"></i></h5>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-6 align-content-center">
            <app-access-weekly-dashboard [dateFrom]="dateFrom" [dateTo]="dateTo"></app-access-weekly-dashboard>
    </div>
    <div class="col-6">
          <app-access-pie-dashboard [dateFrom]="dateFrom" [dateTo]="dateTo"></app-access-pie-dashboard>
    </div>
  </div>
  <!-- Fila del gráfico por hora -->
  <div class="row mt-4">
          <app-access-hourly-dashboard [dateFrom]="dateFrom" [dateTo]="dateTo"></app-access-hourly-dashboard>
  </div>


</app-main-container>
