<div class="container mt-4">
    <p class="h2 m-3">Lista de Visitantes</p>
   
    <app-table #table  
        [items]="filteredVisitors" 
        [columns]="columns"
        [isLoading]="isLoading" 
        [pagination]="{
          totalItems: totalItems,
          page: page,
          size: size,
          onPageChange: onPageChange,
          onPageSizeChange: onPageSizeChange
        }" 
        [height]="'450px'" 
        (searchValueChange)="onFilterChange($event)"
        (pdfButtonClick)="onPdfButtonClick()"
        (excelButtonClick)="onExcelButtonClick()"
        (infoButtonClick)="onInfoButtonClick()">

        <!-- Filtros -->
        <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="btn-group me-5" role="group">
                <div class="d-flex align-items-center">
                    <div class="btn-group me-2">
                        <button type="button" class="btn btn-outline-danger" (click)="changeFilterMode(filterTypes.NOTHING)">
                            <i class="bi bi-x-octagon-fill"></i> Limpiar
                        </button>
                        <button type="button" class="btn btn-outline-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-funnel-fill"></i> Filtros
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" (click)="changeFilterMode(filterTypes.DOCUMENT_NUMBER)">Numero de documento</a></li>
                            <li><a class="dropdown-item" (click)="changeFilterMode(filterTypes.DOCUMENT_TYPE)">Tipo de documento</a></li>
                        </ul>
                    </div>
                    <div class="d-flex">
                        <input *ngIf="applyFilterWithNumber" type="number" class="form-control me-2" id="filter-number" [(ngModel)]="filterInput" placeholder="Número">
                        <select *ngIf="applyFilterWithCombo" id="content-filter" class="form-select me-2" [(ngModel)]="filterInput">
                            <option disabled selected>Selecciona un filtro</option>
                            <option *ngFor="let content of contentForFilterCombo" [value]="content">{{ content }}</option>
                        </select>
                        <div class="ms-auto">
                            <button class="btn btn-dark" type="button" (click)="confirmFilter()">Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /filtros -->

        <!-- Template para la columna de acciones -->
        <ng-template #actionsTemplate let-item>
            <!-- Botones visibles en pantallas medianas y grandes -->
            <div class="d-none d-md-flex">
                <button class="btn btn-warning btn-sm me-2" (click)="editVisitor(item.visitor_id)">Editar</button>
                <button class="btn btn-danger btn-sm" (click)="deleteVisitor(item.visitor_id)">Eliminar</button>
            </div>
            <!-- Botones visibles solo en pantallas pequeñas -->
            <div class="d-md-none" ngbDropdown>
                <button class="btn" type="button" id="dropdownMenuButton2" aria-expanded="false">
                    <i class="bi bi-three-dots-vertical" ngbDropdownToggle aria-expanded="false"></i>
                </button>
                <div ngbDropdownMenu class="dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                    <button class="dropdown-item" (click)="editVisitor(item.visitor_id)">Editar</button>
                    <button class="dropdown-item text-white" (click)="deleteVisitor(item.visitor_id)">Eliminar</button>
                </div>
            </div>
        </ng-template>
    </app-table>
</div>



<ng-template #infoModal let-modal>
    <div class="modal-header fs-6 py-1">
        <h4 class="modal-title">Información de la Lista de Visitantes</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
      </div>
      <div class="modal-body fs-6 py-2">
        <div class="container-fluid">
          <!-- Introducción -->
          <div class="alert alert-info mb-2 py-2">
            <h5 class="alert-heading">¿Qué es esta pantalla?</h5>
            <p class="mb-0 small">Esta pantalla te permite visualizar y gestionar los visitantes registrados. Cada sección está diseñada para ofrecer un acceso rápido y fácil a la información necesaria.</p>
          </div>
      
          <!-- Campos Principales -->
          <div class="card mb-2">
            <div class="card-header py-1">
              <h5 class="mb-0">Datos de Visitantes</h5>
            </div>
            <div class="card-body py-2">
              <ul class="list-group list-group-flush">
                <li class="list-group-item py-1">
                  <strong>Lista de Visitantes:</strong> Muestra los detalles de cada visitante, incluyendo tipo de documento, número de documento, nombre y apellido.
                </li>
                <li class="list-group-item py-1">
                  <strong>Búsqueda:</strong> Funcionalidad para filtrar la lista de visitantes ingresando texto en el campo de búsqueda.
                </li>
                <li class="list-group-item py-1">
                  <strong>Paginación:</strong> Control para navegar entre múltiples páginas de visitantes.
                </li>
                <li class="list-group-item py-1">
                  <strong>Exportar:</strong> Opción para exportar la lista a formatos PDF o Excel.
                </li>
              </ul>
            </div>
          </div>
      
          <!-- Acciones -->
          <div class="card mb-2">
            <div class="card-header py-1">
              <h5 class="mb-0">Acciones Disponibles</h5>
            </div>
            <div class="card-body py-2">
              <ul class="list-group list-group-flush">
                <li class="list-group-item py-1">
                  <strong>Editar:</strong> Modificar la información de un visitante seleccionado.
                </li>
                <li class="list-group-item py-1">
                  <strong>Eliminar:</strong> Borrar un visitante de la lista.
                </li>
              </ul>
            </div>
          </div>
      
          <!-- Nota (OPCIONAL) -->
          <div class="alert alert-warning py-2 mb-0">
            <h5 class="alert-heading">Nota:</h5>
            <p class="mb-0 small">Asegúrate de verificar la información antes de realizar cambios o eliminar registros.</p>
          </div>
        </div>
      </div>
      <div class="modal-footer py-2">
        <button type="button" class="btn btn-primary" (click)="modal.close()">Entendido</button>
      </div>
      
  </ng-template>