<h1 class="mt-2 p-2">Nueva Entidad</h1>
<form [formGroup]="entityForm" (ngSubmit)="onSubmit()" class="row g-3 m-2">
  <h6 class="mt-3 p-2">Detalles</h6>
  <div class="col-md-6">
    <div class="d-flex align-items-center flex-row">
      <label for="name" class="form-label m-0">Nombre</label><label class="text-danger">*</label>
      <input type="text" id="name" class="form-control ms-4" formControlName="name"
             [ngClass]="{
        'is-invalid': entityForm.get('name')?.invalid && entityForm.get('name')?.touched
      }"/>
    </div>
    <div>
      <small class="text-danger ms-2"
             *ngIf="entityForm.get('name')?.invalid && entityForm.get('name')?.touched">
          Por favor, ingrese el nombre del visitante
      </small>
    </div>
  </div>

  <div class="col-md-6">

    <div class="d-flex align-items-center flex-row">
      <label for="last-name" class="form-label m-0">Apellido</label><label class="text-danger">*</label>
      <input type="text" id="last-name" class="form-control ms-4" formControlName="lastName"
             [ngClass]="{
        'is-invalid': entityForm.get('lastName')?.invalid && entityForm.get('lastName')?.touched
      }"/>
    </div>
    <div>
      <small class="text-danger ms-2"
             *ngIf="entityForm.get('lastName')?.invalid && entityForm.get('lastName')?.touched">
          Por favor, ingrese el apellido del visitante
      </small>
    </div>
  </div>

  <div class="col-md-6 mt-3">
    <div class="d-flex align-items-center flex-row">
      <label for="doc-type" class="form-label m-0">Tipo de Documento<label class="text-danger">*</label></label>
      <select id="doc-type" class="form-select ms-2" formControlName="docType">
        <option value="DNI">DNI</option>
        <option value="PASSPORT">Pasaporte</option>
        <option value="CUIT">CUIT</option>
        <option value="CUIL">CUIL</option>
      </select>
    </div>
  </div>

  <div class="col-md-6 mt-3">
    <div class="d-flex align-items-center flex-row">
      <label for="doc-number" class="form-label m-0">Número de Documento<label class="text-danger">*</label></label>
      <input type="number" id="doc-number" class="form-control ms-2" formControlName="docNumber"
             [ngClass]="{
        'is-invalid': entityForm.get('docNumber')?.invalid && entityForm.get('docNumber')?.touched
      }"/>
    </div>
    <div>
      <small class="text-danger ms-2"
             *ngIf="entityForm.get('docNumber')?.invalid && entityForm.get('docNumber')?.touched">
          Por favor, ingrese el número de documento del visitante
      </small>
    </div>
  </div>

  <div class="col-md-6 mt-3">
    <div class="d-flex align-items-center flex-row">
      <label for="birth-date" class="form-label m-0">Fecha de Nacimiento</label>
      <input type="date" id="birth-date" class="form-control ms-2" formControlName="birthDate"/>
    </div>
    <div>
      <small class="text-danger ms-2"
             *ngIf="entityForm.get('birthDate')?.invalid && entityForm.get('birthDate')?.touched">
          Por favor, ingrese la fecha de nacimiento del visitante
      </small>
    </div>
  </div>
  <div class="col-12 d-flex justify-content-end mt-5">
    <button type="button" class="btn btn-danger me-2" (click)="onCancel()">Cancelar</button>
    <button type="submit" class="btn btn-primary">Guardar</button>
  </div>
</form>
<app-toasts></app-toasts>
