<!--<div class="d-flex justify-content-center align-items-center vh-100" style="background-color: #000000;">
    <div class="card p-4 m-3" style="width: 400px; border-radius: 15px;">-->
<!--        <h4 class="text-center mb-4">Generar Código QR</h4>

        <div class="form-group mb-3">
            <label for="docNumber" class="form-label">Número de Documento</label>
            <input type="number" class="form-control" id="docNumber" [(ngModel)]="docNumber"
                   placeholder="Ingrese el número de documento">
        </div>-->

      <!--  <div class="d-grid gap-2">
            <button class="btn btn-warning py-2" (click)="generateQr()">Generar QR</button>
        </div>-->

        <div *ngIf="qrImageSrc" class="text-center mt-4">
            <h5 class="mb-3">Código QR:</h5>
            <img [src]="qrImageSrc" alt="Código QR" style="max-width: 100%;">
          
            <!-- Botón para desplegar el formulario -->
             <div class="d-flex justify-content-center align-items-center text-center">
                <button class="btn btn-secondary mt-3 mb-3" (click)="showEmailForm = !showEmailForm">
                    Enviar por email
                  </button>
             </div>
            
          
            <!-- Formulario de envío por email -->
             @if (showEmailForm) {
                <div class="container mt-3">
                    <form [formGroup]="form" (ngSubmit)="sendQRByEmail()">
                        <div class="mb-2">
                          <label for="email" class="form-label">Email destino <span class="text-danger">*</span>:</label>
                          <input
                            type="email"
                            id="email"
                            class="form-control"
                            formControlName="email"
                            [ngClass]="{'is-invalid':form.controls['email'].invalid && form.controls['email'].touched,
                                'is-valid': form.controls['email'].valid}"
                          />

                          @if(form.controls['email'].invalid && form.controls['email'].touched){
                            <small class="text-danger">El email es requerido</small>
                          }

                        </div>

                       <!-- <div class="mb-2">
                          <label for="invitor_name" class="form-label">Invita<span class="text-danger">*</span>:</label>
                          <input
                            type="text"
                            id="invitor_name"
                            class="form-control"
                            formControlName="invitorName"
                            [ngClass]="{'is-invalid':form.controls['invitorName'].invalid && form.controls['invitorName'].touched,
                                'is-valid':form.controls['invitorName'].valid
                            }"
                          />

                          @if(form.controls['invitorName'].invalid && form.controls['invitorName'].touched){
                            <small class="text-danger">Ingrese el nombre de la persona que invita</small>
                          }
                    </div>-->
    
                    <div>
                        <button type="submit" class="btn btn-primary t-2 mb-2" [disabled]="form.invalid">
                            Enviar
                          </button>
                    </div>
                </form>
                </div>
             }                  
          </div>

          <app-toasts></app-toasts>

          <!-- Componente de alerta
          <app-confirm-alert 
          *ngIf="showAlert" 
          [alertTitle]="alertComponent.alertTitle" 
          [alertType]="alertComponent.alertType" 
          [alertMessage]="alertComponent.alertMessage"
          (confirm)="handleConfirm()"
          ></app-confirm-alert>-->


    <!--</div>-->
<!--</div>-->
